* {
    margin: 0px;
    padding: 0px;
    font-family: Times New Roman;
}

c {
    font-size: 27px;
    text-shadow: 1px 1px 1px;
}

.header {
    padding: 12px;
    background: linear-gradient(to right,white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 15px;
}

.header .img {
    display: inline-block;
}

.header .vig {
    margin-top: -19px;
    margin-left: 10px;
    margin-right: 10px;
}

.header h4 {
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
    font-family: Alaska;
    margin-top: 10px;
    line-height: 1.4;
}

.header h4 span {
    color: gray;
}

h5 {
    display: inline-block;
}

.float-right {
    float: right;
    margin-top: 14px;
    display: inline-block;
}

@keyframes animate {

    from {}

    to {
        box-shadow: none;
    }

}

footer {
    z-index: 1;
    bottom: 0;
    background: linear-gradient(to right, white);
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    position: fixed;
    overflow: hidden;
    text-align: center;
}

footer p {
    display: inline-block;
}

footer a {
    color: black;
    font-weight: 540;
}

#rig {
    height: 80%;
    width: 80%;
}

/* Left Side Page */


#slide a {
    margin-left: -15px;
}

#slide {
    overflow-x: hidden;
    padding:0px;
    margin: 0px;
    overflow-y: auto;
}

#slide h3 {
    font-size: 18px;
    padding: 10px 10px 10px 20px;
}

m {
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 10px;
}

#slide m {
    padding-left:35px;
    margin-right: 20px;
}

#slide h2 {
    font-size:18px;
    margin: 0px;
    padding: 0px;
}

#slide h4 {
    padding: 6px;
    margin: -8px 0px -0.5px 3px;
    font-size: 16.5px;
}

#slide h5 {
    font-size: 14px;
    padding-left: -15px;
}

#slide h3:hover {
    padding: 9.9px 10px 10px 14px;
    background-color: rgba(0,0,0,0.1);
}

.waves-effect {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 10px;
    cursor: pointer;   
} 